{{! layout: main }}

<h2>Contact</h2>
<p>
  Reichenberger Straße <br />
  Berlin-Kreuzberg
</p>

<p>
  Phone: +49 151 58029943 <br />
  Mail: <a href="mailto:johannes@hauptsache-serioes.de">johannes@hauptsache-serioes.de</a> <br />
  <a href="/gpg">GPG-Key</a>
</p>

<marquee>
  +++ <a href="/impressum">Impressum</a> +++ <a href="https://github.com/johipsum">Github</a> +++ <a href="https://twitter.com/joh_ipsum">Twitter</a> +++
</marquee>
