{{! layout: main }}

<h2>Contact</h2>
<p>
  Reichenberger Straße <br />
  Berlin-Kreuzberg
</p>

<p>
  Phone: +49 171 5286835 <br />
  Mail: <a href="mailto:johannes@hauptsache-serioes.de">johannes@hauptsache-serioes.de</a> <br />
  <a href="/gpg">GPG-Key</a>
</p>

<h2>Recent Projects</h2>
<ul>
  <li>
    ➢ check <a href="https://hauptsache-serioes.de">hauptsache-serioes.de</a> for a small selection of my latest projects
   </li>
</ul>

<marquee>
  +++ <a href="/impressum">Impressum</a> +++ <a href="https://github.com/johipsum">Github</a> +++ <a href="https://twitter.com/joh_ipsum">Twitter</a> +++
</marquee>
